body {
    color: #333;
    background: #fff;

}

.h5 {
    font-weight: bold;
}

/* header */
header .h3 {
    margin-top: 0;
    color:#777;
    font-weight: normal;

}
header .h4 {
    color:#777;
    font-weight: normal;
}
.banner img {
    width:100%;
}
header .logos img {
    width: 30px;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #ddd;
    color: #666;
}

main {
    padding-bottom: 80px;
}
main .illus {
    width: 100%;
}
main ul {
    padding-left: 0;
    list-style-position: inside;
}
ul.committee {
    padding-bottom: 0px;
    margin-bottom: 3px;
}
main hr {
    margin: 10px 0 0 0;
}
.home main hr {
    margin-bottom: 10px;

}
.welcome {
    padding-top: 10px;
}
.submissions {
    background: #e6e6e6;
    margin-top: 30px;
    padding: 15px;
}
main p, main ul, main dd {
    padding-bottom: 15px;
}
main .nopadding {
    padding-bottom: 0;
    margin-bottom: 0;
}
.fees {
    width: 100%;
}
.fees thead{
    background: #dfdfdf;
}
.fees tr {
    border-bottom: 1px solid #ccc;
}
.fees th, .fees td {
    font-size: 0.75em;
    text-align: center;
    padding: 2px 0;
}
.fees tbody th {
    text-align: left
}
.fees .line {
    border-left: 5px solid #ccc;
}
dt {
    font-style: italic;
    font-weight: normal;
    padding-bottom: 10px;
}
dd {
    padding-bottom: 15px;
}
#footer ul {
    margin: 0;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    text-align: center;
}
#footer li {
    display: inline-block;
}
#footer a {
    padding: 0 5px;

}

div.paper {
    display:inline;
}

div.authors {
    font-style:italic;
    padding-left: 2em;
    margin-bottom:1em;
}
