body {
    color: #333;
    background: #fff;

}

/* header */
header .h3 {
    margin-top: 0;
    color:#777;
    font-weight: normal;

}
header .h4 {
    color:#777;
    font-weight: normal;
}
.banner img {
    width:100%;
}

header .logos img {
    width: 30px;
}

main {
    padding-bottom: 80px;
}
main .illus {
    width: 100%;
}
main ul {
    padding-left: 0;
    list-style-position: inside;
}

main hr {
    margin: 10px 0 0 0;
}
.home main hr {
    margin-bottom: 10px;

}
.welcome {
    padding-top: 10px;
}
.submissions {
    background: #e6e6e6;
    margin-top: 30px;
    padding: 15px;
}


#footer ul {
    margin: 0;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    text-align: center;
}
#footer li {
    display: inline-block;
}
#footer a {
    padding: 0 5px;
    
}